# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
 1. Python
 2. Julia
 3. Scala
 4. R

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. skicit


 Data Science tools
 |---|
 TensorFlow
 |---|
 ApacheSpark
 |---|
 Pytorch

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

# Objectives:
* List popular languages for Data Science
* Commonly used Libraries
* Simple arithematic evaluations
* Introduction to R
* Introduction to Python
* Introduction to Sql

## Author: Zainab Umme